<div class="col-xs-12">
  <div id="show_idol">
    <% @idols.each do |idol| %>
      <div class="col-xs-4 col-sm-2">
        <div class="image"><%= link_to image_tag(idol.image_url, size: '86x104'), "/idol#{get_team_path(idol)}/#{idol.id}" %></div>
        <div class="name"><%= link_to "#{idol.name}(#{idol.blogs.count})", "/idol#{get_team_path(idol)}/#{idol.id}" %> </div>
      </div>
    <% end %>
  </div>
</div>
