<div class="col-md-3">
  <div class="menu-item_idol">
    <%= link_to(image_tag(@idol.image_url), @idol.url, target: "_blank") %>
    <div class="name"><%= link_to @idol.name, @idol.url, target: "_blank" %></div>
  </div>
</div>
<div class="col-md-7">
  <!-- Start Carousel Section -->
  <div class="home-slider">
    <!-- Indicators -->
    <div class="main_column_wrap">
      <div class="main_column">
      <% @blogs.each do |blog| %>
        <div class="record">
          <div class="col-xs-12 record_date"><%= format_datetime_add_year blog.datetime %></div>
          <div class="col-xs-12"><%= link_to truncate(CGI.unescapeHTML(Rumoji.decode(blog.title)), length: 30, omission: ".."), blog.url, target: '_blank', class: "text_btn" %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
