<div class="col-md-12">
  <div class="menu-item adsence">
    <a href="#portfolio-modal" data-toggle="modal">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 728x90 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-4698132078091959"
           data-ad-slot="2579000628"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </a>
  </div>
</div>
