<!-- Start Copyright Section -->
<div class="copyright text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>© 2015 d3-idol.jp</div>
      </div>
    </div>
  </div>
</div>
<!-- End Copyright Section -->
