<div class="col-md-2">
  <div class="menu-item blue">
    <%= link_to idol_index_path do %>
      <i class="fa fa-users"></i>
      <p>Top Bloger</p>
    <% end %>
  </div>
  <div class="menu-item light-orange">
    <%= mail_to "info@d3-idol.jp" do %>
      <i class="fa fa-paper-plane-o"></i>
      <p>Contact</p>
    <% end %>
  </div>
</div>
