<div class="col-md-2">
  <div class="menu-item adsence">
    <a href="#portfolio-modal" data-toggle="modal">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 150x150 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:150px;height:150px"
           data-ad-client="ca-pub-4698132078091959"
           data-ad-slot="6195275025"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </a>
  </div>
  <div class="menu-item adsence">
    <a href="#portfolio-modal" data-toggle="modal">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 150x150_2 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:150px;height:150px"
           data-ad-client="ca-pub-4698132078091959"
           data-ad-slot="5181043423"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </a>
  </div>
</div>
